.App {
  text-align: center;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
  background: #e74c3c;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 20px;
  }
}

h2 {
  width: 100%;
}

.App-intro {
  font-size: large;
}

.instructions {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  /*opacity: 0.7;*/
  width: 100%;
  height: 100%;
}

#main-box {
  color: #fff;
  background: #e74c3c;
  position: relative;
  height: auto;
  border-radius: 3px;
  top: 15%;
  margin: auto;
  border: 5px solid rgba(0,0,0,0.1);
}

/*.random {
  position: relative;
  top: 0;
  left: 0;
}*/

/*.tv {
  position: relative;
  top: 10px;
  left: 0;
  width: 400px;
  height: 266px;
}*/

.Background {
  width: 100%;
}

.Backdrop {
  width: 100%;
  /*position: absolute;
  background-color: black;
  top: 17px;
  left: 120px;
  width: 389px;
  height: 219px;*/
}

.Poster {
  height: 300px;
  width: 200;
  padding-top: 5px;
}

.overview {
  text-align: left;
  padding-top: 10px;
}

.movie-title {
  font-size: 25px;
  padding-top: 5px;
}

/*.score {
  border: 1px solid black;
  background: rgba(255,255,255,0.8);
  border-radius: 25px;
  width: 10%;
}*/

.col-2 {
  width: 16.666665%;
  padding-left: 1.04166666%;
  float: left;
}

.col-3 {
  width: 25%;
  padding-left: 1.04166666%;
  float: left;
}

.col-4 {
  width: 33.33%;
  padding-left: 1.04166666%;
  float: left;
}

.col-6 {
  width: 50%;
  padding-left: 1.04166666%;
  float: left;
}

.col-8 {
  width: 66.66%;
  padding-left: 1.04166666%;
  float: left;
}

main {
  padding-top: 100px;

}

main .row {
  margin-bottom: 20px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /*border: 1px solid black;*/
  /*background: rgba(255,255,255,0.5);
  border-radius: 25px;*/
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

/* Mobile defaults */
.col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-2 {
    width: 16.666665%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-12 {
    width: 100%;
  }
}

.title-overview-box {
  background: rgba(255,255,255,0.5);
  border-radius: 25px;
  margin: 25px;
}
