/*.score {
  border: 1px solid black;
  background: rgba(255,255,255,0.8);
  border-radius: 25px;
  width: 10%;
}*/

.current-game-score {
  font-size: 24px;
  color: white;
  margin-top: 10%;
}

@media only screen and (max-width: 640px) {
  .current-game-score {
    margin-top: 5%;
  }
}
