h2 {
  width: 100%;
}

@media only screen and (max-width: 640px) {
	.App-header {
		text-align: center;
	}
	h2 {
		width: 60%;
	}
}

@media only screen and (max-width: 321px) {
	h2 {
		width: 60%;
	}
}
