* {
  box-sizing: border-box;
}

.existing-user-login-table, .create-user-table {
  width: 25%;
  margin-right: 55%;
  background: black;
}

.existing-user-login-table {
  margin-top: 2%;
}

.create-user-table {
  margin-top: 10%;
}

.field {
  width: 100%;
  font-size: 16px;
}

.login-button {
  color: black;
}

@media only screen and (max-width: 640px) {
  .existing-user-login-table, .create-user-table {
    margin-right: 100%;
  }
  .existing-user-login-table {
    margin-top: 2%;
  }
}
