* {
  box-sizing: border-box;
}

.existing-user-login-table, .create-user-table {
  width: 25%;
  margin-right: 55%;
  background: black;
}

.existing-user-login-table {
  margin-top: 2%;
}

.create-user-table {
  margin-top: 10%;
}

.field {
  width: 100%;
  font-size: 16px;
}

.login-button {
  color: black;
}

@media only screen and (max-width: 515px) {
  img.Background-login-page {
    height: 50%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  img.Background-login-page {
    height: 80%;
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  img.Background-login-page {
    height: 58%;
    width: 100%;
  }
  .existing-user-login-table, .create-user-table {
    width: 40%;
  }
}
