table {
	color: #fff;
	background: #e74c3c;
	position: relative;
	height: auto;
	border-radius: 3px;
	top: 15%;
	margin: auto;
	border: 1px solid rgba(0,0,0,0.1);
	width: 100%;
}

th {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
	font-size: 24px;
}

.td-score, .td-username {
	text-align: right;
	font-size: 22px;
}

.td-score {
	border-right: 1px solid white;
	padding-right: 10px;
}

.td-username {
	padding-left: 5px;
}
