.start-button-box {
  text-align: center;
  text-decoration: none;
}

.start-button-link {
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 28px;
  padding-left: 5%;
  padding-right: 5%;
}

.start-button-link:hover {
    background-color: red;
    color: black;
}
