nav {
	position: relative;
	height: 10%;
	padding-right: 40px;
	text-decoration: none;
}

ul {text-decoration: none;}

nav ul li {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.2em;
	list-style-type: none;
	text-decoration: none;
}

nav ul li:first-child {
	float: left;
	text-decoration: none;
}

nav ul li:nth-child(2) {
	float: right;
	text-decoration: none;
}

nav ul li:last-child {
	float: right;
	margin-right: 20px;
}

nav a {
	color: #fff;
}

@media only screen and (min-width: 640px) {
	nav ul li:first-child {
		float: left;
		text-decoration: none;

	}

	nav ul li:last-child {
		float: right;
	}
}

@media only screen and (max-width: 640px) {
	nav ul li:first-child {
		font-size: 10px;
		float: left
	}

	nav ul li:last-child {
		font-size: 10px;
		float: none;
	}

	nav ul li:nth-child(2) {
		font-size: 10px;
		float: right;
	}
}
